<h3>Thank you for your order.</h3>
<p>Your order confirmation will be sent to the following email address: <em><%= "TODO: email addresse einblenden" %></em></p>
<p>Order amount: <em><%= "TODO: Warenkorb-wert" %></em></p>
<%= link_to "Back", root_path %>
